<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.abc.resepnusantara">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AyamBakarKecap"
            android:label="@string/title_activity_ayam_bakar_kecap"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".BaladoTeri"
            android:label="@string/title_activity_balado_teri"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BalaTeriSayuran"
            android:label="@string/title_activity_bala_teri_sayuran"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BeefTeriyaki"
            android:label="@string/title_activity_beef_teriyaki"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Asam2iga"
            android:label="@string/title_activity_asam2iga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CumiBakar"
            android:label="@string/title_activity_cumi_bakar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CumiAsinCabeHijau"
            android:label="@string/title_activity_cumi_asin_cabe_hijau"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FruitTerineSausStrawberry"
            android:label="@string/title_activity_fruit_terine_saus_strawberry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowniesFruityMix"
            android:label="@string/title_activity_brownies_fruity_mix"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BebekGorengCabeIjo"
            android:label="@string/title_activity_bebek_goreng_cabe_ijo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BebekBacem"
            android:label="@string/title_activity_bebek_bacem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AyamCabeIjo"
            android:label="@string/title_activity_ayam_cabe_ijo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>